	body {
			    padding:30px;
      
			}
			input {
			    padding:10px;
			    background-color:transparent;
			    border:none;
			    border-bottom:solid 4px #8c52ff;
			    width:250px;
			    font-size:16px;
        
			}
			
			.qr-btn {
			    background-color:#8c52ff;
			    padding:8px;
			    color:white;
			    cursor:pointer;
        width:200px;
        
			}

#qr-code{
        width:200px;
  height: 200px;  
  
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
}
.h{
  
  font-size:30px;
  text-align:center;
}